In [22]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np
import re

features_path = '/Users/6j9/projects/mouse/data/irf-mcl/importance_scores/top_features_1.30/top_genes_full_1.30.tsv'

In [23]:
features = pd.read_csv(features_path, sep='\t', index_col=None)
features = features.sort_values('cluster')
features = features.set_index('cluster')

In [25]:
for i, scores in enumerate(features['gene-score_1.30']):
    i += 1
    print(i)
    split = scores.replace(' ', '').split(',')
    for score in split:
        gene, score = re.search('(.*)\:(.*)', score).groups()
        features.loc[i, gene] = score

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316

In [26]:
features

,gene-score_1.30,COL6A5,RPL37A,SPARC,TNFAIP6,DPT,RPS29,GSN,UBB,GM42418,...,TRAF6,COQ7,GOLGA1,MRPL22,MRPL2,ACSBG1,PARD6B,PRICKLE3,POLR2B,ZMPSTE24
cluster,,,,,,,,,,,,,,,,,,,,,
1,"COL6A5: 22.34, RPL37A: 4.85, SPARC: 3.49, TNFA...",22.34,4.85,3.49,3.1,2.78,2.45,2.23,1.93,1.82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"PALLD: 30.04, POSTN: 6.2, HS3ST6: 4.62, MT1: 3...",NaN,0.04,0.07,0.04,2.75,0.09,1.03,0.25,0.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"IL5: 41.87, AREG: 10.49, ARG1: 7.47, IL13: 2.1...",NaN,0.41,0.0,NaN,NaN,0.36,0.0,0.03,0.27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"PI16: 23.28, BGN: 9.1, ANXA3: 6.58, IGFBP7: 3....",NaN,0.3,0.6,0.03,0.39,0.12,0.3,0.1,1.66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"FOLR2: 26.29, H2-AA: 10.18, PF4: 9.58, IFI27L2...",NaN,0.87,NaN,NaN,NaN,0.12,0.0,0.02,3.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,"GDF10: 35.83, DDX49: 19.88, PLA2G7: 5.47, TCP1...",NaN,2.89,NaN,NaN,NaN,0.15,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,"MBD2: 27.31, RPS12: 13.18, RBM43: 6.01, INO80:...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.54,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,"PLPBP: 26.15, RPL9: 19.48, ENPP4: 7.84, VPS13A...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.31,1.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,"MT-CO1: 21.8, MT-CYTB: 9.36, LZTFL1: 7.83, ATG...",NaN,1.41,NaN,NaN,NaN,0.57,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,"ACTB: 47.73, S100A10: 18.2, MGP: 12.97, RPLP2:...",1.07,NaN,NaN,NaN,NaN,NaN,NaN,0.06,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
out = features.drop('gene-score_1.30', 1)

In [30]:
out

,COL6A5,RPL37A,SPARC,TNFAIP6,DPT,RPS29,GSN,UBB,GM42418,POSTN,...,TRAF6,COQ7,GOLGA1,MRPL22,MRPL2,ACSBG1,PARD6B,PRICKLE3,POLR2B,ZMPSTE24
cluster,,,,,,,,,,,,,,,,,,,,,
1,22.34,4.85,3.49,3.1,2.78,2.45,2.23,1.93,1.82,1.74,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,0.04,0.07,0.04,2.75,0.09,1.03,0.25,0.28,6.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,0.41,0.0,NaN,NaN,0.36,0.0,0.03,0.27,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,0.3,0.6,0.03,0.39,0.12,0.3,0.1,1.66,0.37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,0.87,NaN,NaN,NaN,0.12,0.0,0.02,3.09,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,NaN,2.89,NaN,NaN,NaN,0.15,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.54,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.31,1.15,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,NaN,1.41,NaN,NaN,NaN,0.57,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,1.07,NaN,NaN,NaN,NaN,NaN,NaN,0.06,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
out_path = '/Users/6j9/projects/mouse/data/irf-mcl/importance_scores/tabular_1.30.tsv'
out.transpose().to_csv(out_path, sep='\t')